{% extends 'navbar.html' %}

{% block content %}
    <div class="container">
        <div class="col-lg-6 mx-auto mt-2">
            <h1>Who are ya? Show me your identity.</h1>
            <h2 class="text-danger">{{ error_msg }}</h2>
            <br/>
            <form action="" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <b><label for="email">Email address</label></b>
                    <input type="email" class="form-control" id="email" name="email" value="{{values.email}}" aria-describedby="emailHelp" placeholder="Enter email">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group">
                    <b><label for="password">Password</label></b>
                    <input type="password" class="form-control" id="password" name="pwd" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-success">Login</button>
            </form>
        </div>
    </div>
{% endblock %}